*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "CW BR Firma",sans-serif;
}
html {
   
    line-height: 1.15;
    /* font-size: 62.5%; */
    /* -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; */
}
/* a{
    text-decoration: none;
} */
/* header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 40px;
} */

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1310px;
    overflow-x: hidden;
    padding: 0 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;
    background: #fff; */
    height: 90px;
    /* padding: 34px 40px; */
}
nav .nav-items{
    display: flex;
    flex: 1;
    list-style: none;
    padding: 10 0 0 40px;
}
nav .nav-items li{
    padding: 0 20px;
}
nav .nav-items li :nth-child(1){
    padding-left: 10px;
}
nav .nav-items li a{
    color: #7D93B2;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

}
nav .nav-items li a:hover{
    color: #022b69;
}
a{
    padding: 10px;
}
.icons{
    display: none;
}
.btn-1{
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    color: #0066f5;
    border: 1px solid #0066f5;
}
.btn-1:hover{
    transform: translateY(-0.9%);
    box-shadow: 0 4rem 8rem rgba(0, 11, 31, 0.5);
}
.btn-2{
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    background-color: #0066F5;
    color: #F1F6FF;
    border: 1px solid #0066f5;
}
.btn-2:hover{
    transform: translateY(-0.9%);
    box-shadow: 0 4rem 8rem rgba(0, 11, 31, 0.5);
}
.row{
    display: flex;
}
.col-1{
    flex-basis: 50%;
    margin-top: 50px;
}
.col-2{
    flex-basis: 50%;
    overflow: hidden;
    background: url("../img/wads-save-online.png");
    width: 100%;
	height: 650px;
    background-repeat: no-repeat;
	position: relative;
	-webkit-background-size: cover;
	 background-size: cover;
	 background-position: center center;
    transform: translateX(40px);
}

h1{
    letter-spacing: -.4px;
    line-height: 1.25;
    margin-bottom: .7em;
    margin-top: 30px;
    color: #022B69;
    font-size: 60px;
    font-weight: 700;
    font-family: "CW BR Firma",sans-serif;
}
.p-1{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    margin: 15px 0;
    color: #173D75;
}

.svg-1{
    margin-right: 8px;
    width: 148px;
    height: 80px;
}
.sec{
    background: #fff;
    display: flex;
    padding: 12px 28px 12px 20px;
    box-shadow: 1px 8px 12px rgb(2 43 105 / 2%);
    border: 1px solid rgba(2,43,105,.06);
    border-radius: 12px;
    margin-top: 130px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.sec img {
    height: 32px;
    width: 32px;
}
.sec-text {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.sec-text span {
    display: block;
}
.sec-text span:first-child {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: -.6px;
}
.sec-text span:nth-child(2) {
    font-size: 10px;
    color: rgba(2,43,105,.6);
}
.section-1{
    padding: 80px 0px 160px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 8rem;
    gap: 5rem;
}

/* .column-1{

} */
h2{
    font-size: 50px;
    color: #022b69;
}
.p-2{
    font-size: 18px;
    color: #687FA3;
    margin: 15px 0px;
}
.sub-column-1{
    margin: 100px 0px 80px;
    padding: 48px;
    background: #f4f6ff;
    height: 700px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
}
.h6-1{
    font-size: 21px;
    color: #687FA3;
    margin: 0px 0px 14.7px;
}
.h4-1{
    font-size: 34.5px;
    color: #022b69;
}

.button.button--has-arrow, button.button--has-arrow {
    background: none;
    color: #0066f5;
    text-decoration: none;
    box-shadow: none;
    padding: 0;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-weight: 600;
}
.button.button--has-arrow svg, button.button--has-arrow svg {
    height: 12px;
    width: 12px;
    fill: #0066f5;
    stroke: #0066f5;
    transition: transform .4s ease;
    margin-left: 2px;
    vertical-align: baseline;
    margin-bottom: -.1em;
}
.button.button--has-arrow:hover svg, button.button--has-arrow:hover svg {
    transform: translateX(5px);
}
.img-2{
    position: absolute;
    bottom: -240px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}
.img-2 img{
    max-width: 320px;
    height: auto;
}



.sub-column-2{
    margin: 0px 0px 80px;
    padding: 48px;
    background: #fff6ee;
    height: 700px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
}
.svg-4{
    height: 12px;
    width: 12px;
    fill: #fff;
    stroke: #fff;
    transition: transform .4s ease;
    margin-left: 2px;
    vertical-align: baseline;
    margin-bottom: -.1em;
}

.section-2{
    background: #fcfcfc;
    background-image: url("../img/home-device-section.svg");
    background-repeat: no-repeat;
    background-position: -120% -120px;
    background-size: 77%;
    padding-bottom: 120px;
    padding: 50px 0px 120px;

}
.d{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.sub-section-2{
    height: 760px;
    flex-basis: 50%;
    width: 100%;
    position: relative;
}
.sub-section-2 img{
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    display: inline-block;
    padding-left: 70px;
    text-align: center;
    top: 52px;
    max-height: 100%;
    max-width: 100%;
}
.sub-section-3{
    flex-basis: 50%;
    width: 41.6666666667%;
    padding: 10px;
}
.h3-2{
    font-size: 39px;
    margin: 39px 0px 27.3px;
    color: #022B69;
}
.e{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
    position: relative;
    margin: 0px 0px 50px;
}
.sub-section-4{
    
    counter-reset: item;
    margin-top: 60px;
}
.sub-section-4-text{
    margin-left: 60px;
    max-width: 70%;
}
.span-2{
    font-size: 20px;
    color: #0066f5;
    font-weight: 600;
    padding-left: 2px;
    z-index: 1;
}
.span-3{
    font-size: 24px;
    color: #022b69;
    font-weight: 600;
    line-height: 1;
}
.p-6{
    font-size: 18px;
    margin: 15px 0px;
    font-weight: 400;
    line-height: 1.7;
    color: #91A3BD;
}
.button, button {
    background-color: #0066f5;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    min-height: 36px;
    color: #fff;
    line-height: 36px;
    position: relative;
    text-decoration: none;
    padding: 0 1.2em;
    font-weight: 400;
    text-transform: capitalize;
}
.button.button--large, button.button--large {
    max-height: 48px;
    line-height: 48px;
    padding-left: 1.8em;
    padding-right: 1.8em;
    font-size: 13px;
    letter-spacing: .8px;
    text-transform: uppercase;
    font-weight: 600;
}

.section-3{
    background-color: #0066F5;
    padding: 50px 0px 150px;
    padding-bottom: 150px;
    position: relative;
    overflow-x: hidden;
}

.section-3::after{
    content: "";
    background-image: url("../img/security.svg");
    background-repeat: no-repeat;
    height: 790px;
    width: 780px;
    background-position: 126px;
    background-size: 110%;
    position: absolute;
    right: -150px;
    top: 100px;
    opacity: .5;
}

.section-3-a{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-3-text{
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
}
.b{
    padding: 0 20px;
}
.h2-5{
    font-size: 48.6px;
    margin: 40.338px 0px 34.02px;
    padding: 0 20px;
    color: #fff;
}
.p-7{
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0px;
    padding: 0 20px;
    color: #fff;
    line-height: 1.7;
}

.section-3-b{
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 100%;
    padding: 1rem;
}
.section-3-b-text{
    position: relative;
    padding-left: 40px;
    margin-top: 30px;
}
.section-3-b-text::before{
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 3px;
    top: 6px;
    left: 22px;
    position: absolute;
    background-color: #cdf2fc;
    box-shadow: 3px 3px 0 0 rgb(2 43 105 / 70%)
}
.h5-1{
    font-size: 21px;
    margin: 0px 0px 15px;
    padding: 0 20px;
    color: #fff;
}


.section-4{
    margin: 0px 0px 100px;
    padding: 50px 0px;
}
.h6-3{
    font-size: 16px;
    margin: 37.28px 0px 30px;
    padding: 0 20px;
    color: #022B69;
    letter-spacing: 1px;
}
.fees{
    font-size: 60px;
    margin: 0px 15px 0px 0px;
    padding: 0 20px;
    font-weight: 700;
    color: #91A3BD
}
.no{
    font-size: 60px;
    padding: 0 20px;
    font-weight: 700;
    color: #022B69;
}
.section-5-img{
    flex-basis: 50%;
}
.section-5-img img{
    width: 100%;
    /* -o-object-fit: cover; */
    object-fit: cover;
    height: 100%;
    
    max-height: 100%;
}
.section-5-b{
    padding: 10px;
    box-sizing: border-box;
    background: #CDF2FC;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}
.section-5-c{
    padding: 60px 22% 20px 8%;
}
.h4-4{
    font-size: 34.5px;
    margin: 45.885px 0px 24.15px;
    color: #022b69;
    line-height: 1.6;
}
.p-8{
    font-size: 17.4px;
    margin: 40px 0px;
    font-weight: 600;
    color: #022b69;
}
.span-8{
    font-size: 13px;
    font-weight: 600;
    color: #678FB3;
}
.section-6{
    margin: 40px 80px 100px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    grid-template-rows: 1fr;
    justify-items: center;
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}
.card{
    background-color: #fff;
    padding: 32px 36px;
    border: 1px solid rgba(2,43,105,.07);
    box-shadow: 1px 12px 24px rgb(2 43 105 / 5%);
    width: 100%;
    border-radius: 20px;
    min-height: 300px;
}
.card-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.h3-6{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    color: #022b69;
    letter-spacing: -.4px;
    line-height: 1.25;
}
.sub{
    font-size: .5em;
    /* bottom: 30px; */
    color: #aeb9cc;
    /* bottom: -.25em; */
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.card-1 .section-3-a svg{
    height: 50px;
    width: 124px;
    margin-left: 20px;
}
.card-1 svg{
    height: 50px;
    width: 120px;
}
.h6-6{
    font-size: 21px;
    margin: 0px 0px 14.7px;
    font-weight: 600;
    color: #022b69;
}
.p-9{
    font-size: 13px;
    font-weight: 400;
    margin: 15px 0px;
    line-height: 1.7;
    color: #6c82a3;
}

.button.button--has-arrow, button.button--has-arrow {
    background: none;
    color: #0066f5;
    box-shadow: none;
    padding: 0;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-weight: 600;
}

.section-7{
    border-radius: 12px;
    background-color: #0066f5;
    margin-bottom: 40px;
    box-shadow: 0 59px 51px -34px rgb(0 103 245 / 30%);
    padding: 80px 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-7-a{
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    /* max-width: 41.6666666667%; */
    padding: 1rem;
}
.h3-7{
    font-size: 39px;
    color: #fff;
    padding: 0 50px;
    font-weight: 700;
    letter-spacing: -.4px;
}
.section-7-b{
    box-sizing: border-box;
    flex-basis:50%;
    max-width: 100%;
    padding: 1rem;
}
.text-box{
    position: relative;
    border-radius: 6px;
    background-color: hsla(0,0%,100%,.25);
    padding: 10px 24px;
    width: 100%;
    height: 60px;
}
input{
    color: #fff;
    font-size: 1.4rem;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    height: 38px;
    max-width: 58%;
    transition: border-color .3s ease-in,color 1s linear;
    /* width: 100%; */
    display: block;
}
.btn{
    max-height: 48px;
    line-height: 48px;
    padding-left: 1.8em;
    padding-right: 1.8em;
    font-size: 13px;
    letter-spacing: .8px;
    font-weight: 600;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    min-height: 36px;
    color: #173D75;
    position: absolute;
    right: 6px;
    top: 6px;
    text-decoration: none;
    padding: 0 1.2em;
}

.section-8{
    margin-top: 100px;
    margin-bottom: 40px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-8-a{
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 10px;
}
.h4-8{
    margin: 26.6px 0px 30px;
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    color: #022B69;
}
.section-8-ul{
    list-style-type: none;
    display: block;
    list-style-type: disc;
}
.li-2{
    list-style: none;
    line-height: 1.3;
    margin: 12px 0px 0px;
    font-weight: 400;
    font-size: 1.8rem;
}
.section-8-a ul li a{
    font-weight: 500;
    color: rgba(2,43,105,.6);
    font-size: 14.6px;
    text-decoration: none;
}
hr{
    height: 1px;
    width: 100%;
    border: 0;
    background: rgba(2,43,105,.05);
}
footer{
    margin-top: 120px;
    background-image: url(../img/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 1080px;
    padding-bottom: 50px;
}
.section-9{
    padding: 10px;
    max-width: 58.3333333333%;
}
.ull{
    padding: 0;
    list-style-type: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}
.lii{
    display: inline-block;
    margin-top: 20px;
    list-style: none;
    margin-bottom: 0;
}
.section-9  ul li a {
    font-weight: 500;
    color: rgba(2,43,105,.6);
    transition: opacity .3s ease;
    font-size: 1.46rem;
    word-wrap: break-word;
}
.lii svg{
    height: 16px;
    width: 16px;
    margin-right: 16px;
    fill: rgba(2,43,105,.6);
}
.section-10{
    margin: 40px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.p-10{
    margin: 15px 0px;
    font-size: 15px;
    flex: 1;
    color: #002b69;
    line-height: 1.7;
    margin: 15px 0;
    font-weight: 400;
}
.seccc{
    background: #fff;
    display: flex;
    padding: 12px 28px 12px 20px;
    box-shadow: 1px 8px 12px rgb(2 43 105 / 2%);
    border: 1px solid rgba(2,43,105,.06);
    border-radius: 12px;
    /* margin-top: 130px; */
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.seccc img {
    height: 32px;
    width: 32px;
}
.seccc-text {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.seccc-text span {
    display: block;
}
.seccc-text span:first-child {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: -.6px;
}
.seccc-text span:nth-child(2) {
    font-size: 10px;
    color: rgba(2,43,105,.6);
}
.p-11{
    margin: 15px 0px;
    font-size: 12px;
    color: rgba(2,43,105,.48);
    line-height: 1.7;
    font-weight: 600;
}




@media screen and (max-width: 700px){
    nav .nav-items{
        display: none; 
    }
    nav .nav-items li{
        margin-top: 30px;
    }
    /* .nav-links{
        position: absolute;
        background-color: #B4F1F1;
        height: 100vh;
        width: 200px;
        white-space: nowrap;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1.5s;
    } */
    #icon{
        display: none;
    }
    nav .icons{
        display: inline;
        color: black;
        margin: 10px;
        cursor: pointer;
        font-size: 30px;
    }
    .container{
        padding: 0px 10px;
    }
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .btn-1, .btn-2{
        display: none;
    }
    h1{
        text-align: center;
        font-size: 45px;
    }
    h2{
        font-size: 35px;
    }
    .p-2{
        font-size: 15px;
    }
    .col-2{
        display: none;
    }
    .row{
        flex-direction: column;
    }
    .p-1{
        text-align: center;
        max-width: 100%;
        font-size: 18px
    }
    .c{
        text-align: center;
    }
    .d{
        flex-direction: column;
    }
    .sub-section-2{
        height: 525px;
        display: none;
        margin-bottom: 40px;
    }
    .sub-section-3{
        flex-basis: 100%;
        width: 100%
        /* padding: 10px; */
    }
    .h3-2{
        text-align: center;
    }
    .f{
        text-align: center;
    }
    .section-3::after{
        display: none;
    }
    .section-3{
        box-sizing: border-box;
     flex-basis: 100%;
    max-width: 100%;
    
    }
    .h2-5{
        font-size: 35px;
    }
    .p-7{
        font-size: 15px;
    }
    .section-3-b{
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        padding: 1rem;
    }
    .fees{
        font-size: 40px;
    }
    .no{
        font-size: 40px;
    }
    .section-5 .section-3-a{
        flex-direction: column;
    }
    .section-5-c{
        padding: 10px 15% 10px 3%;
    }
    .h4-4{
        font-size: 20.5px;
        margin: 40.885px 0px 20.15px;
        color: #022b69;
        line-height: 1.6;
    }
    .section-6{
        margin: 10px 0 80px;
    grid-row-gap: 40px;
    row-gap: 40px;
    }
    .section-7{
        padding: 20px;
    }
    .h3-7{
        font-size: 30px;
        padding: 0px 0px;
    }
    .section-7-a{
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        
    }
    .section-8-a{
        box-sizing: border-box;
        flex-basis: 50%;
        max-width: 50%;
        padding: 1rem;
    }
    .li-2{
        line-height: 1;
    }
    .section-10{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .liii{
        width: 100%;
    }
    .lii svg{
        height: 16px;
        width: 16px;
        /* margin-right: 16px; */
        fill: rgba(2,43,105,.6);
    }
    .section-9{
        padding: 0;
        max-width: 100%;
    }
}    
